.company-list--wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 12.1rem;
  box-sizing: border-box;
  align-items: center;
  padding-bottom: 12.1rem;
  gap: 10rem;
  flex-grow: 1;
  width: 100%;
}

.company-list--wrapper h2 {
  margin: 0rem;
  font-size: 6rem;
  font-family: "Futura";
  text-align: center;
}

.company-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3.5rem;
  width: 100%;
  padding: 0px 14rem;
  box-sizing: border-box;
}

.company-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 4rem;
  box-sizing: border-box;
  /* width: 30rem; */
  width: calc(100% / 5 - 3.5rem);
  height: 26rem;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.company-card:hover img {
  opacity: 0.8!important;
}

.company-card img {
  width: 100%;
}

.customertype-card {
  width: calc(100% / 3 - 5.7rem);
  position: relative;
  background-size: contain;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
  overflow: hidden;
  flex: 1 1 auto;
  height: 47rem;
}

.customertype-card-1 {
  background-image: url("../assets/pure-img.jpg");
}
.customertype-card-2 {
  background-image: url("../assets/passion-img.jpg");
}
.customertype-card-3 {
  background-image: url("../assets/perform-img.jpg");
}

.customertype-text-container {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  background-color: #ffffff52;
  opacity: 1;
  backdrop-filter: blur(30px);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 30%;
}

.customertype-text-title {
  font-family: "Futura";
  text-align: center;
  font-size: 6rem;
  margin: 0 !important;
  color: #ffffff;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customertype-card:hover .customertype-text-container {
  height: 130%;
}

.customertype-card:hover .customertype-text-title {
  height: 23%;
}

.customertype-card:hover .customertype-text-description {
  margin-bottom: 0%;
  height: 77%;
  display: flex;
}

.customertype-text-description {
  font-size: 2rem;
  overflow: hidden;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -40%;
  padding: 0rem 7.7rem;
  text-align: center;
  font-family: "Futura";
  display: none;
}

.landing-heading-div {
line-height: 10rem;
}


.landing-heading > h2 {
  overflow: hidden;
  height: 80px;

}

h2 > div {
  transform: translateY(100%);
}
