.product-modules {
  padding: 10rem 18.5rem 10rem 18.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  gap: 11.2rem;
}

.product-module-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.module-wrapper {
  width: 100%;
}

.product-module-title {
  font-size: 5rem;
  font-family: "Futura";
  padding-bottom: 6rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product-modules-hero {
  padding: 19rem 0rem 11.3rem 0rem;
  background-image: url("../assets/beidan-bg-img.svg");
  background-position: center;
  width: 100%;
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
}
.product-modules-hero--blur {
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 1;
  backdrop-filter: blur(30px);
  position: absolute;
  width: 100%;
  height: 100%;
}

.product-modules-hero h3 {
  position: relative;
  z-index: 1;
  font-size: 6rem;
  margin: 0px;
  text-align: center;
  color: #fff;
}

.module-container {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.module-list-bullet {
  background-color: #000;
  width: 2rem;
  height: 2rem;
}

.module-list-container {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  gap: 4rem;
  width: 100%;
}

.module-container p {
  font-size: 3rem;
  font-family: "Raleway";
}

.module-checkbox-container {
  display: flex;
  align-items: center;
  font-family: "Raleway";
  gap: 5rem;
  font-size: 3rem;
}

.module-checkbox-container input {
  margin: 0;
  width: 2rem;
  height: 2rem;
}

.totalamount-container {
  border-bottom: 3px solid #000;
  max-width: 42.2rem;
  margin: 0 auto;
}

.totalamount-container span {
  font-family: "Futura";
  font-size: 5rem;
}

.totalamount-container p {
  font-family: "Raleway";
  font-size: 5rem;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-next {
  padding: 1rem 3rem;
  background-color: #000;
  color: #fff;
  font-family: "Raleway";
  outline: none;
  border: none;
  font-size: 4.3rem;
  cursor: pointer;
}

.button-back {
  padding: 1rem 3rem;
  background-color: transparent;
  color: #000;
  border: none;
  border-bottom: 3px solid black;
  font-family: "Raleway";
  font-size: 4.3rem;
  cursor: pointer;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-background {
  left: 0;
  top: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  position: absolute;
}

.modal {
  position: relative;
  z-index: 100;
  background-color: #fff;
  width: 118rem;
  padding: 8.5rem 6.4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-title {
  font-size: 4rem;
  font-family: "Futura";
  letter-spacing: 0px;
  text-align: center;
}

.button-modal {
  font-size: 1.7rem;
  height: 100%;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  cursor: pointer;
}

.buttons-container-modal {
  display: flex;
  gap: 4rem;
  width: 100%;
  margin-right: 4.5rem;
  justify-content: center;
  padding-top: 4rem;
}

.modal-bottom-text {
  margin: 0px;
  font-family: "Raleway";
  text-align: center;
  font-size: 1.5rem;
  color: #707070;
  padding-top: 5.4rem;
}

.modal-close-btn {
  position: absolute;
  top: 2rem;
  right: 2.6rem;
  width: 2rem;
  height: 2rem;
}

.modal-close-btn img {
  width: 100%;
  height: 100%;
}
